[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/ghoostqq/theer.git
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
